.page-content {
	padding: 30px;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 400px;
	font-size: 20px;
}

.page-title {
	font-size: 50px;
	padding-bottom: 30px;
}

.page-img {
	width: 100%;
	height: 50vh;
	background-size: cover;
	transform: rotate(360deg);
}

.page-text {
	line-height: 1.6em;
	text-align: justify;
	white-space: pre-wrap;
}